.App{
  height: 100vh;
}
.cointainer {
  padding: 0 5px;
}

.btnSub {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btnSub:hover{
  background: #666;
}

.to-do-tabs {
  display: flex;
}

.to-do-tabs-button {
  flex-grow: 1;
}

.to-do-tabs-button-focused {
  flex-grow: 2;
}

.to-do-list {
  width: 40vw;
  margin: 0 auto;
}

.to-do-items {
max-height: 40vh;
overflow-y: scroll;
}

.to-do-item {
  display: flex;
  justify-content: space-between;
}

.task-update-delete {
  display: flex;
}

.task-update, .task-delete {
  padding: 0 10px;
  text-align: center;
  margin: 0 5px;
}

.task-update:hover, .task-delete:hover {
  background: black;
  color: white;
}
/*  FOOTER */

.Footer{
  height: 115px;
  background-color: #dadada;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  width: 100%;
  bottom: 0;
  position: fixed;
}

.connect-with-us {
  font-family: Helvetica;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--greyish-brown);
  margin: 10px;
}

.socialMediaIcons{
  display: flex;
  justify-content: center;
}

.icons{
  padding: 5px;
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.copyright-FestPlan {
  font-family: Helvetica;
  font-size: 12px;
  font-weight: 300;
  padding: 10px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--greyish-brown);
}

/* MEDIA QUERIES FOR FOOTER */
@media only screen and (max-width: 600px) {
  .Footer {
    height: 95px;
    padding-bottom: 5px;
    padding-top: 12px;
  }

  .icons{
    width: 30px;
    height: 30px;
  }

  .connect-with-us {
    font-size: 12px;
    padding: 0;
  }

  .copyright-FestPlan{
    font-size: 10px;
    padding: 0;
  }
}

@media only screen and (max-width: 320px) {
  .Footer {
    height: 90px;
    padding-bottom: 5px;
    padding-top: 12px;
  }

  .icons{
    width: 22px;
    height: 22px;
  }
  .connect-with-us {
    font-size: 10px;
  }

  .copyright-FestPlan{
    font-size: 8px;
  }
}
/* ********************************* */
/* REGISTER FORM */

.RegisterForm{
  text-align: center;
  margin: 8px;
  height: 86vh;
  padding-top: 7em;
  box-shadow: -4px 4px 8px 0 rgba(101, 101, 101, 0.5);
  background-color: #f0f0f0;
}

.create-new-account{
  font-family: Helvetica;
  font-size: 35px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.78;
  letter-spacing: normal;
  color: #4a4a4a;
}

.register-input{
   font-size: 20px;
   padding: 5px;
   padding-left: 15px;
   margin: 12px;
   width: 328px;
   height: 30px;
   border: solid 1px #6f6f6f;
   background-color: rgba(240,240,240,.2);
}

.register-button{
  width: 328px;
  height: 40px;
  background-color: #ff8f07;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  margin: 2em;
}
/* MEDIA QUERIES FOR REGISTER */

/* **************************** */
/* LOGIN FORM */

.LoginForm{
  padding: 4em;
  margin: 8px;
  height: 80vh;
  padding-top: 7em;
  box-shadow: -4px 4px 8px 0 rgba(101, 101, 101, 0.5);
  background-color: #f0f0f0;
}

.login{
  font-family: Helvetica;
  font-size: 35px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.78;
  letter-spacing: normal;
  color: #4a4a4a;
  padding: 0;
  margin-bottom: 0;
}

.new-account{
font-family: Helvetica;
 font-size: 16px;
 font-weight: 300;
 font-style: normal;
 font-stretch: normal;
 line-height: normal;
 letter-spacing: normal;
}

a{
  text-decoration: none;
}

.form-login{
  display: flex;
  flex-direction: column;
}
.text-login{
  margin-left: 2em;
}

.login-input{
  font-size: 20px;
  padding: 5px;
  padding-left: 15px;
  margin: 12px;
  width: 328px;
  height: 30px;
  border: solid 1px #6f6f6f;
  background-color: rgba(240,240,240,.2);
}

.login-button{
  width: 350px;
  height: 40px;
  padding-left: 15px;
  margin: 12px;
  background-color: #ff8f07;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
}

/* MEDIA QUERIES FOR LOGIN */
@media only screen and (max-width: 1481px) {
  /* .App{
    background-attachment: fixed;
    background-color: red;
  } */
  .LoginForm {
    overflow-x: hidden;
    background-attachment: fixed;
    height: 88vh;
    width: 65vh;
  }
  .login{
    font-size: 105px;
  }

  .new-account{
   font-size: 36px;
  }

  .login-input{
    font-size: 40px;
    padding: 5px;
    padding-left: 15px;
    margin: 12px;
    width: 428px;
    height: 50px;
    border: solid 1px #6f6f6f;
    background-color: rgba(240,240,240,.2);
  }

  .login-button{
    width: 450px;
    height: 52px;
    font-size: 32px;
    font-weight: 500;
  }
  @media only screen and (max-width: 375px) {
    /* .App{
      background-attachment: fixed;
      background-color: red;
    } */
    .LoginForm {
      overflow-x: hidden;
      background-attachment: fixed;
      height: 77vh;
      width: 30vh;
    }
    .login{
      font-size: 30px;
    }

    .new-account{
     font-size: 15px;
    }

    .login-input{
      font-size: 20px;
      padding: 3px;
      padding-left: 15px;
      margin: 5px;
      width: 208px;
      height: 30px;
      border: solid 1px #6f6f6f;
      background-color: rgba(240,240,240,.2);
    }

    .login-button{
      width: 220px;
      height: 30px;
      font-size: 22px;
      font-weight: 300;
    }
  }

  @media only screen and (max-width: 414px) {
    /* .App{
      background-attachment: fixed;
      background-color: red;
    } */
    .LoginForm {
      background-attachment: fixed;
      height: 75vh;
      width: 37vh;
    }
    .login{
      font-size: 30px;
    }

    .new-account{
     font-size: 15px;
    }

    .login-input{
      font-size: 20px;
      padding: 3px;
      padding-left: 15px;
      margin: 5px;
      width: 208px;
      height: 30px;
      border: solid 1px #6f6f6f;
      background-color: rgba(240,240,240,.2);
    }

    .login-button{
      width: 220px;
      height: 30px;
      font-size: 18px;
      font-weight: 300;
    }
  }
}
/* **************************** */
