.cointainer {
  padding: 0 5px;
}

.btnSub {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btnSub:hover{
  background: #666;
}
